baywheels_2019
baywheels_2019_cleaned
SanFrancisco
NorthernCalifornia_POIs
.ipynb_checkpoints/
idle_time_calculated
monthly sum and average per station
baywheels_2019_cleaned
Predict_ready_df
df_w_freq
.DS_Store
